{% extends 'base.html' %}

{% block content %}
 

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-10">
    
    <!-- --------------------------------- -->
    <div class="card md-4" style="width:100%;">
        <div class="card-body">
          <h5 class="card-title">{{location.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{g.user.username}}'s Current Address</h6>
          <p class="card-text">{{location.address}}</p>
          <a href="/users/location/edit" class="card-link btn btn-sm btn-primary" role="button">Edit Address</a>
        </div>
      </div>


    <!-- ------------------------------- -->

    <!-- ----------------------------------- -->

      <form class="my-3" id="interestform">
      
          <input type="text" name="interest" class="form-control dateMeet-brand" id="interest" aria-describedby="interesthelp" placeholder="Enter your interest">
          <button type="submit" class="btn btn-default" id="interestbtn"><span class="fa fa-search"></span></button>
    
      </form> 
    
  

  </div>
  <div id="business_display" class="my-4 row justify-content-md-center">
       
  </div>

  </div>


<script src="/static/dateMeet.js"></script>

{% endblock %}